body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Lato, sans-serif;
}

img {
  width: 100px;
}

h1 {
  text-align: center;
  font-weight: 700;
  color: rgba(0,0,0,0.6);
  font-size: 16px;
  margin: 10px;
  padding: 0;
}
